div.amshopby-column {
    float:left; width:83px;
}

select.amshopby-select {
    width: 100%;
}

.amshopby-logo{
padding: 0pt 10px 10px 0pt; float: left;
}

.amshopby-featured {
    padding: 5px 5px 5px 5px; 
}

.amshopby-link{
    float:left;
    padding-left:5px; 
    padding-top:5px;
}

.amshopby-clearer {
	display:block; 
	clear:both; 
	overflow: hidden;
}
div.block-layered-nav dd a { padding:0px 5px 0px 0px; display:block; float: left;}  
div.block-layered-nav dd a.amshopby-attr { padding-left: 20px; background:transparent url(../images/amshopby-cb1.gif) no-repeat left center;} 
div.block-layered-nav dd a.amshopby-attr-selected { color: #000; font-weight: bold; background:transparent url(../images/amshopby-cb2.gif) no-repeat left center; padding-left: 20px; } 
div.block-layered-nav dd a img {padding: 0px 4px 5px; float:left;} 

div.block-layered-nav dd li.amshopby-cat-level-2 {padding-left:10px;}
div.block-layered-nav dd li.amshopby-cat-level-3 {padding-left:20px;}

div.block-layered-nav dd a.amshopby-cat-selected {font-weight: bold;
color:black; text-decoration: none; cursor:text;}

div.block-layered-nav dd li span.amshopby-plusminus {float:left;
display:block; width:15px; height:15px; cursor:pointer;
background:transparent url(../images/amshopby-plus.gif)  no-repeat;}
div.block-layered-nav dd li span.minus {background:transparent
url(../images/amshopby-minus.gif) no-repeat;}
div.block-layered-nav dd li:after {display:block; content:".";
clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

.amshopby-filters-left dt:hover { cursor: pointer; }


div.block-layered-nav div.amshopby-slider {
	 position:relative; margin:10px auto 5px auto; z-index:9; height:18px;  background: url(../images/amshopby-slider-bg.gif) no-repeat 50% 50%; cursor:pointer;
}
div.block-layered-nav div.amshopby-slider div.handle {width:8px; top:3px; height:14px; background: transparent url(../images/amshopby-hadle.png) no-repeat; position: absolute; cursor:move;}

/*
 * Slider labels
 */
.amshopby-slider-price {
	color: #798794;
}
.amshopby-slider-price-from {
	float: left;
    
}
.amshopby-slider-price-to {
	float: right;
}

.amshopby-slider-handle-right {
	position: absolute;
	top: 14px;
	right: 0px;
}

.amshopby-slider-handle-left {
	position: absolute;
	top: 14px;
	left: 0px;
}

.amshopby-tooltip {
    padding:2px 5px;
    background:#FEC;
    border:1px solid #FAA819;
    color:#1F5070;
    text-align:left;
    width:200px;
    position:absolute;
}

.amshopby-slider-price-range 
{
	text-align: center;
	font-size: 0.9em;
}

.amshopby-tooltip-img {
    cursor:help;
}

div.block-layered-nav, div.amshopby-page-container, div.amshopby-filters-top {
    position: relative;
}
div.amshopby-overlay {
    background-color: #E4E4E4;
    height: 100%;
    left: 0;
    opacity: 0.7;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}

.col-main-content div.amshopby-overlay { background: #FFF; }

div.amshopby-overlay img {
    top: 100px;
    left: 45%;
    display: block;
    position: absolute;
}

div.amshopby-overlay div {
    margin: 0 auto;
    display: block;
	width: 300px;
	height: 200px;
	background:  url('../images/amshopby-overlay.gif') 50% 50% no-repeat;
}

.amshopby-price-from-to { padding-top: 5px; }

.amshopby-price-from-to .price-field {
	position: relative;	
}
.amshopby-price-from-to .price-field label {
	font-weight: normal;
	position: absolute;
	left: 0;
	line-height: 1.5;
	padding-left: 10px;
	pointer-events:none;
	top:0;
	text-align: center;
}

.amshopby-price-from-to .price-field input {
	padding-left: 20px;
	height: 34px;
	width: 70px;
}